*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $default-font-size;
}

body {
    font-family: $default-font-family;
    font-weight: $default-font-weight;
}